body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
}

.nav-item2 {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}
body{
    margin: 0;
    padding: 0;
    font-family: Barriecito;
    background-color: black;
    color: rgb(226, 236, 236);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: cneter;
    background: linear-gradient(to right, #d112d1, #3498db);
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-item{
    text-decoration: underline gainsboro;
    color: rgb(194, 191, 13);
    padding: 10px 20px;
    transition: background-color 0.3s,color 0.3s;
}
.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.social-icons {
    display: flex;
}
.content {
    position: relative;
    width: 100%;
  }
.text-above-image {
    position: absolute;
    top: 25%;
    left: 10px;
    width: 100%;
    align-items: left;
    color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20%;
    align-items:first baseline;
    border-left: solid white;
    font-size: 40px;
    font-style: italic;
  }
.img{
    width: 100%;
    height: 50%;
}
.flex-container {
    display: flex;
    justify-content: space-between; /* Align columns with space in between */
    border: 1px solid #ccc; /* Border around the whole container */
    padding: 10px; /* Add some padding for spacing */
    background: linear-gradient(to bottom,rgb(38, 173, 226),rgb(209, 93, 180));
    
  }
  
  .column {
    flex: 1; /* Allow columns to take equal space */
    padding: 10px; /* Add padding inside columns */
    border-left: 1px solid #ccc; /* Border between columns */
  }
  
  /* Remove left border from the first column */
  .column:first-child {
    border-left: none;
  }

.social-icon {
    display: inline-block;
    margin-left: 10px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icon:hover img {
    transform: scale(1.2);
}
h1{
    text-align: center;
    color: #d112d1;
    font-style: bold;
    text-decoration: dashed;
}
.intro p{
    color: beige;
    font-style: inherit;
}
h3{
    font-size: large;
    text-align: center;
    text-decoration: dashed;
    
}





